<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deneme">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_selected"
        android:label="Magazapp"
        android:roundIcon="@drawable/mgzppyeni"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Fragments.KategoriActivity"></activity>
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FavoritesActivity" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".SecondActivity" />
        <activity
            android:name=".MainActivity"
            android:label="Magazapp"></activity>
    </application>

</manifest>