<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Magazapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_selected"
        android:label="Magazapp"
        android:roundIcon="@mipmap/ic_logo_selected_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="com.example.Magazapp.Categories.PersonalcareActivity"></activity>
        <activity android:name="com.example.Magazapp.Categories.WomenswearActivity" />
        <activity android:name="com.example.Magazapp.Categories.MenswearActivity" />
        <activity android:name="com.example.Magazapp.Categories.OutdoorActivity" />
        <activity android:name="com.example.Magazapp.Categories.TechActivity" />
        <activity android:name="com.example.Magazapp.Fragments.KategoriActivity" />
        <activity android:name="com.example.Magazapp.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.Magazapp.Extras.FavoritesActivity" />
        <activity android:name="com.example.Magazapp.Extras.MessageActivity" />
        <activity android:name="com.example.Magazapp.Extras.SecondActivity" />
        <activity
            android:name="com.example.Magazapp.MainActivity"
            android:label="Magazapp" />
    </application>

</manifest>